div.grid.grid-cols-12.gap-0
  div.col-span-3 = render partial: "layouts/sidebar"
  div.col-span-9.bg-white.min-height-90vh
    div.-m-1 = render partial: "nav_about"
    div.scroll.w-full

        <h3>An unordered list summarizing my life</h3>

        <ul>
        <li>1944-1962

        <ul>
        <li>Russellton PA

        <ul>
        <li>Born 10/17/1944</li>
        <li>Russellton Elementry 1950-56</li>
        <li>West Deer HS 1956-62</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>1962-72

        <ul>
        <li>USAF Lackland AFB TX Bootcamp 07/1962-08/1962</li>
        <li>USAF Amarillo AFB TX Aircraft Mechanic Technical School 09/1962-12/1962</li>
        <li>USAF Luke AFB AZ Aircraft Mechanic (F-100, F-84, T-33) 01/1963-04/1964</li>
        <li>USAF Shemya AFS AK Transit Alert Mechanic 04/1964-04/1965</li>
        <li>USAF George AFB CA Aircraft Mechanic (F-4C/D) 05/1965-07/1966

        <ul>
        <li>deploy Ubon RTAFB Thailand Aircraft Mechanic (F-4C/D) 09/1965-02/1966</li>
        </ul>
        </li>
        <li>McDonnald-Douglas CO St Louis MO - Assembly Mechanic,  08/1966-01/1967</li>
        <li>USAF George AFB CA Aircraft Mechanic (F-4D/E) 01/1967-07/1969</li>
        <li>USAF Ubon RTAFB Thailand Aircraft Mechanic (F-4D) 07/1969-02/1970</li>
        <li>USAF Williams AFB AZ Safety NCO 02/1970-12/1970</li>
        <li>USAF Arizona State University Engineering Student 01/1971-08/1972</li>
        </ul>
        </li>
        <li>1972-1984

        <ul>
        <li>USAF Lackland AFB TX OTS 09/1972-11/1972</li>
        <li>USAF Mather AFB CA Navigator Training 02/1973-11/1973</li>
        <li>USAF Langly AFB VA C-130 Navigator 02/1974-08/1976

        <ul>
        <li>Deploy Rhein-Main AFB, Frankford Germany 11/1974-01/1975</li>
        </ul>
        </li>
        <li>USAF McChord AFB WA C-130 Navigator 08/1976-08/1978

        <ul>
        <li>Deploy Howard AFS, Panama Cannel Zone ?/1977-?+2/1977</li>
        </ul>
        </li>
        <li>USAF Travis AFB CA Staff Officer 22nd AF 08/1978-08/1980</li>
        <li>USAF Gunter AFS AL Systems Analayst 08/1980-12/1984</li>
        </ul>
        </li>
        <li>1984-88

        <ul>
        <li>Softech Inc Montgomery AL/Washington DC Systems Analyst 01/1985-07/1986</li>
        <li>CACI Inc Montgomery AL Systems Analyst 08/1986-12/1988</li>
        </ul>
        </li>
        <li>1989-2008

        <ul>
        <li>Alabama Industrial Development Training Institute Montgomery AL

        <ul>
        <li>Ada Instructor, Center Manager, IT Division Manager/CIO</li>
        </ul>
        </li>
        </ul>
        </li>
        <li>2008-Present

        <ul>
        <li>Retired Montgomery AL 01/2009-09/2009</li>