div.grid.grid-cols-12.gap-0
  div.col-span-3 = render partial: "layouts/sidebar"
  div.col-span-9.bg-white.min-height-90vh
    div.-m-1 = render partial: "nav_about"
    div.scroll.w-full
      <article class="hentry marked" role="article">
      <div class="entry-content"><p>I often refer to mayself as a <strong>retired geek</strong>. I am not sure you can be a geek at 68, but my last 38 years has revolved around geeky things, namely computers.</p>

      <p>My working like consisted of three very different jobs, but they all pointed me in a logic direction.</p>

      <ul>
      <li><p>Aircraft Mechanic I spent ten years as an Aircraft Mechanic, Jet Engine, 1 or 2 engines was the job description. That was back in the time that the specialty did everything. Now specialist do most of the technical stuff. I first worked in field maintenance, where you got the really broke aircraft that couldnt be fixed on the line.</p>

      <p>I first learned boolean logic at that job!  Each aircraft have volumes of repair manuals. One was a trouble shooting guide. Nothing more than a hierarchy of questions with yes and no answers that would take you down a path to solving a problem.</p>

      <p>Towards the end of the career, I must of been fairly good at it because they send all the repeat big problems to me. Flight controls was one of my specialties and I truly loved solving those problems.</p></li>
      <li><p>Navigator To become a Navigator I had to finish college. The AF sent me to Arizona Stage University. I receive a BS in Mechanical Engineer, Aeronautical Emphasis. Now I never worked a day of my life in engineering, but one of the required course was FORTRAN Programming. I made it trough that, punch cards ad all. I also discovered timesharing terminals that ran BASIC and several other languages.  I was never very good with a slide-rule (yes before calculators) and would go to the computer center and write basic programs to get the answers for my homework.</p>

      <p>At my first navigator assignment, after I started flying it hit me that all this number crunching I was doing with a circular slide-rule could be done a lot easier with a computer. I asked the Commander one day, why we couldnt get access to a computer to make the flight plans, drop ballistics, etc. His answer was something like &#8220;You cant take a computer to war!&#8221;.</p>

      <p>That question did land me an &#8220;Additional Duty&#8221;, feeding information to a <em>new</em> system they developed to track flying training. You had to record the different task/maneuvers you practiced every six months. If you didnt fill the squares, you were grounded. This is where I saw the concept of a database. Ours was composed of a <em>grease board</em>, a list of all the flyers with columns for what events you were to accomplish during the six month training cycle. At the end, they take a picture of the boards that covered a large room, erase the number and fill in the new requirements. Everyone had read/write access, if you were having a hard time getting scheduled for on of the harder to accomplish events (e.g., live paratrooper drop), an eraser took care of that. The new system was to correct that problem.</p>

      <p>That additional duty soon became my primary job when are unit transfer from Virginia to Washington which had a more sophisticated program that actually used terminal and had a <em>retrieval</em> application that you could query the database and generate reports. That led to another job, overseeing and consulting on that program for half of the transport world. That led to an <em>functional analyst</em> job in Alabama to develop a new system to replace the different system each command used.</p></li>
      <li>Systems Analyst/IT Manager</li>
      </ul>
      </div>
      </article>
